@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="text-center">
    <h2>QUÝ KHÁCH VUI LÒNG THANH TOÁN ĐẶT CỌC QUA SỐ TÀI KHOẢN</h2>
    <span style="background-color:red;color:white;width:auto;font-size:30px;padding:5px">0882001992833</span><br />
    <b>Ngân hàng Maritime Bank chi nhánh Phú Cường </b>
 
</div>

