@{
    ViewBag.Title = "_DangNhap";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            @using (Html.BeginForm("_DangNhapLog", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row ">
                    <div class="col-xs-10 col-sm-10 mx-auto">
                        <form class="omb_loginForm" action="" autocomplete="off" method="post">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input value="@ViewBag.Tendn" type="text" class="form-control" name="Tendn" placeholder="Tên tài khoản" required>
                            </div>
                            <span class="help-block"></span>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input value="@ViewBag.Matkhau" type="password" class="form-control" name="Matkhau" placeholder="Mật khẩu" required>
                            </div>
                            <span class="help-block" style="font-family:monospace">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>

                            <button class="btn btn-lg btn-danger btn-block" type="submit">Đăng nhập</button>
                        </form>

                    </div>

                </div>

            }

        </div>
    </div>
    <div class="text-center">
        <b>Bạn chưa có tài khoản ?</b> <a href="/Home/_DangKy">  Đăng ký ngay</a>
    </div>
   

</div>
