<footer class="section bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Thông tin liên hệ</h6>
                    <ul class="list-unstyled footer-link mt-4" style=" background-position: center center; background-image: url(/Content/img/world-map.png); background-size: cover; background-repeat: no-repeat;">
                        <li><a href=""><i class="fa fa-address-book"></i>  Dịch vụ Đám tiệc HT</a></li>
                        <li><a href=""><i class="fa fa-location-arrow"></i>  939 Quốc Lộ 13 , Quận 9  TP HCM</a></li>
                        <li><a href=""><i class="fa fa-phone"></i>  0925 123 456</a></li>
                        <li><a href=""><i class="fa fa-envelope"></i>  thanhnhut212121@gmal.com</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <h6 class="footer-heading text-uppercase text-white">TAGS</h6>
                <div class="list-tag">
                    <a class="tag-item">ĐÁM CƯỚI</a>
                    <a class="tag-item">ĐÁM HỎI</a>
                    <a class="tag-item">TIỆC TẠI GIA</a>
                    <a class="tag-item">ĐÁM GIỖ</a>
                    <a class="tag-item">TIỆC TỰ CHỌN</a>
                    <a class="tag-item">ĐÁM CƯỚI</a>
                    <a class="tag-item">ĐÁM HỎI</a>
                    <a class="tag-item">TIỆC TẠI GIA</a>
                    <a class="tag-item">ĐÁM GIỖ</a>
                    <a class="tag-item">TIỆC TỰ CHỌN</a>
                    <a class="tag-item">KHÁC</a>
                </div>
            </div>

            <div class="col-md-3">
                <h6 class="footer-heading text-uppercase text-white">Trợ giúp</h6>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTTDVVLBD%2F&amp;tabs=timeline&amp;width=450&amp;height=300&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=1647888175295074" style="border: none; overflow: hidden; width: 100%; height: 300px; border-radius: 10px" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>


            <div class="col-md-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Liên kết</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li class="lienhe-zalo">
                            <a href="">
                                <div class="lienhe-logo">
                                    <span><i class="fa fa-comments"></i> ZALO </span>
                                </div>
                                <div class="lienhe-slogan">
                                    <p>Chat mọi lúc mọi nơi</p>
                                </div>
                            </a>
                        </li>

                        <li class="lienhe-yt">
                            <a href="">
                                <div class="lienhe-logo">
                                    <span><i class="fa fa-youtube-play"></i> YOUTUBE</span>
                                </div>
                                <div class="lienhe-slogan">
                                    <p>Cập nhật các video mới nhất</p>
                                </div>
                            </a>
                        </li>

                        <li class="lienhe-fb">
                            <a href="">
                                <div class="lienhe-logo">
                                    <span><i class="fa fa-facebook-square"></i> FACEBOOK</span>
                                </div>
                                <div class="lienhe-slogan">
                                    <p>Trả lời trong 1 giờ</p>
                                </div>
                            </a>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>