@{
    Layout = null;
}

<div class="tintuc-slide">
    <div class="row m-0">
        <div class="col-md-12 p-0">
            <div class="slide_home owl-carousel owl-theme">
                <div class="news_slide">
                    <img src="~/Content/img/img1.jpg" />
                </div>
                <div class="news_slide">
                    <img src="~/Content/img/img2.jpg" />
                </div>
                <div class="news_slide">
                    <img src="~/Content/img/img3.jpg" />
                </div>
            </div>
        </div>
      
    </div>

</div>


