
<div class="container">
    <div class="sukien">
        <h2 class="text-center">
            <span class="sk-tit">
                SỰ KIỆN
            </span>
        </h2>
        <div class="sk_item">
            <div class="row">
                <div class="col-md-6">
                    <div class="sk_item1">
                        <a href="~/BangGia/Index">
                            <img src="~/Content/img/sk1.png" />
                            <div class="sk_overlay">

                            </div>
                            <div class="sk_cont1">
                                <p>
                                    <span>
                                        DỊCH VỤ
                                    </span>
                                    <br />
                                </p>
                            </div>
                            <div class="sk_cont2">
                                <p>
                                    <span>
                                        XEM THÊM
                                    </span>
                                    <br />
                                </p>
                            </div>
                        </a>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="sk_item1">
                        <a href="~/BangGia/Index">
                            <img src="~/Content/img/sk2.jpg" />
                            <div class="sk_overlay">

                            </div>
                            <div class="sk_cont1">
                                <p>
                                    <span>
                                       MÓN ĂN
                                    </span>
                                    <br />
                                </p>
                            </div>
                            <div class="sk_cont2">
                                <p>
                                    <span>
                                        XEM THÊM
                                    </span>
                                    <br />
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        @*<div class="sk_item">
            <div class="row">
                <div class="col-md-4">
                    <div class="sk_item1">
                        <a href="~/BangGia/Index">
                            <img src="~/Content/img/sk3.jpg" />
                            <div class="sk_overlay">

                            </div>
                            <div class="sk_cont1">
                                <p>
                                    <span>
                                        TIỆC TẠI NHÀ
                                    </span>
                                    <br />
                                </p>
                            </div>
                            <div class="sk_cont2">
                                <p>
                                    <span>
                                        XEM THÊM
                                    </span>
                                    <br />
                                </p>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="sk_item1">
                        <a href="~/BangGia/Index">
                            <img src="~/Content/img/sk4.jpg" />
                            <div class="sk_overlay">

                            </div>
                            <div class="sk_cont1">
                                <p>
                                    <span>
                                        TIỆC TẠI NHÀ
                                    </span>
                                    <br />
                                </p>
                            </div>
                            <div class="sk_cont2">
                                <p>
                                    <span>
                                        XEM THÊM
                                    </span>
                                    <br />
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sk_item1">
                        <a href="~/BangGia/Index">
                            <img src="~/Content/img/sk4.png" />

                            <div class="sk_overlay">

                            </div>
                            <div class="sk_cont1">
                                <p>
                                    <span>
                                        TIỆC TẠI NHÀ
                                    </span>
                                    <br />
                                </p>
                            </div>
                            <div class="sk_cont2">
                                <p>
                                    <span>
                                        XEM THÊM
                                    </span>
                                    <br />
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>*@



        <div class="sk_item">
            <div class="row">
                <div class="col-md-6">
                    <div class="sk_item1">
                        <a href="~/BangGia/Index">
                            <img src="~/Content/img/sk5.jpg" />
                            <div class="sk_overlay">

                            </div>
                            <div class="sk_cont1">
                                <p>
                                    <span>
                                        QUẢNG CÁO
                                    </span>
                                    <br />
                                </p>
                            </div>
                            <div class="sk_cont2">
                                <p>
                                    <span>
                                        XEM THÊM
                                    </span>
                                    <br />
                                </p>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="sk_item1">
                        <a href="~/BangGia/Index">
                            <img src="~/Content/img/sk6.jpg" />
                            <div class="sk_overlay">

                            </div>
                            <div class="sk_cont1">
                                <p>
                                    <span>
                                       TIN TỨC
                                    </span>
                                    <br />
                                </p>
                            </div>
                            <div class="sk_cont2">
                                <p>
                                    <span>
                                        XEM THÊM
                                    </span>
                                    <br />
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="sk_banner">
        <img src="~/Content/img/skbanner.jpg" />
    </div>

</div>