<div class="dichvu">
    <h2 class="text-center">
        <span class="dv-tit">
            THỰC ĐƠN
        </span>
        
    </h2>
    <div class="container">
     
        <div class="stage">
            <div class="row">
                <div class="col-md-3">
                    <div class="dvdv">
                        <div class="dv_item bounce-1">
                            <div class="dv_item_cont">
                                <a href="~/BangGia/Index">
                                    <i class="fa fa-bars"></i>
                                    <P>DỊCH VỤ</P>
                                    <b>DỊCH VỤ</b>
                                </a>
                            </div>
                        </div>
                        <button onclick="myFunction()" class="dv_xct">Xem chi tiết</button>
                    </div>
                 
                </div>
                <div class="col-md-3">
                    <div class="dvdv">
                        <div class="dv_item bounce-1">
                            <div class="dv_item_cont">
                                <a href="~/BangGia/Index">
                                    <i class="fa fa-bars"></i>
                                    <P>MÓN ĂN</P>
                                    <b>MÓN ĂN</b>
                                </a>
                            </div>
                        </div>
                        <button onclick="myFunction()" class="dv_xct">Xem chi tiết</button>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="dvdv">
                        <div class="dv_item bounce-1">
                            <div class="dv_item_cont">
                                <a href="~/BangGia/Index">
                                    <i class="fa fa-bars"></i>
                                    <p>QUẢNG CÁO<p>
                                    <b>QUẢNG CÁO</b>
                                </a>
                            </div>
                        </div>
                        <button onclick="myFunction()" class="dv_xct">Xem chi tiết</button>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="dvdv">
                        <div class="dv_item bounce-1">
                            <div class="dv_item_cont">
                                <a href="~/BangGia/Index">
                                    <i class="fa fa-bars"></i>
                                   <P>TIN TỨC</P>
                                    <b>TIN TỨC</b>
                                </a>
                            </div>
                        </div>
                        <button onclick="myFunction()" class="dv_xct">Xem chi tiết</button>
                    </div>

                </div>
            
            </div>
        </div>

    </div>

</div>

<script>
    function myFunction() {
        location.replace("../BangGia/Index")
    }
</script>
