@{
    ViewBag.Title = "_YKienKhachHang";
}

<div class="ykkh">
    <h2 class="text-center">
        <span class="sk-tit">
            Ý KIẾN KHÁCH HÀNG
        </span>

    </h2>
    <div class="row m-0">
        <div class="col-md-12 p-0">
            <div class="slide_ykkh owl-carousel owl-theme">
                <div class="ykkh_item">
                    <img src="~/Content/img/kh1.jpg" />
                    <p class="ykkh_if1">
                        Anh Nhựt
                    </p>
                    <p class="ykkh_if2">
                        Nhân viên Công nghệ TT
                    </p>
                    <p class="">
                        Dịch vụ tiệc cưới MTH rất chuyên nghiệp.Tôi sẽ ủng hộ nhiều lần tiếp theo...
                    </p>
                </div>
                <div class="ykkh_item">
                    <img src="~/Content/img/kh2.jpg" />
                    <p class="ykkh_if1">
                        Anh Tấn Thêm
                    </p>
                    <p class="ykkh_if2">
                        Nhân viên Công nghệ TT
                    </p>
                    <p class="">
                        Dịch vụ tiệc cưới MTH rất chuyên nghiệp.Tôi sẽ ủng hộ nhiều lần tiếp theo...
                    </p>
                </div>
                <div class="ykkh_item">
                    <img src="~/Content/img/kh3.jpg" />
                    <p class="ykkh_if1">
                        Minh Tiến
                    </p>
                    <p class="ykkh_if2">
                        Nhân viên Công nghệ TT
                    </p>
                    <p class="">
                        Dịch vụ tiệc cưới MTH rất chuyên nghiệp.Tôi sẽ ủng hộ nhiều lần tiếp theo...
                    </p>
                </div>
                <div class="ykkh_item">
                    <img src="~/Content/img/kh4.jpg" />
                    <p class="ykkh_if1">
                        Anh Quang Khải
                    </p>
                    <p class="ykkh_if2">
                        Nhân viên Công nghệ TT
                    </p>
                    <p class="">
                        Dịch vụ tiệc cưới MTH rất chuyên nghiệp.Tôi sẽ ủng hộ nhiều lần tiếp theo...
                    </p>
                </div>
                <div class="ykkh_item">
                    <img src="~/Content/img/kh2.jpg" />
                    <p class="ykkh_if1">
                        Anh Châu Anh
                    </p>
                    <p class="ykkh_if2">
                        Nhân viên Công nghệ TT
                    </p>
                    <p class="">
                        Dịch vụ tiệc cưới MTH rất chuyên nghiệp.Tôi sẽ ủng hộ nhiều lần tiếp theo...
                    </p>
                </div>
                <div class="ykkh_item">
                    <img src="~/Content/img/kh3.jpg" />
                    <p class="ykkh_if1">
                        Anh Thái Dương
                    </p>
                    <p class="ykkh_if2">
                        Nhân viên Công nghệ TT
                    </p>
                    <p class="">
                        Dịch vụ tiệc cưới MTH rất chuyên nghiệp.Tôi sẽ ủng hộ nhiều lần tiếp theo...
                    </p>
                </div>
             
            </div>
        </div>

    </div>

</div>
